@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Razor Sharp Pizzas</h1>
    <h2>Razor Sharp Pizzas, is the pizza for us!</h2>
   
    <div>
        <img class="rounded shadow my-3" src="~/images/PizzaTime.jpg" />
    </div>
    <a href="/Checkout/ThankYou" class="mt-2 btn btn-primary">Bring Me That Pizza</a>
</div>

